* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(270deg, #313131 0%, #0084fa 100%);
    background-size: 400% 400%;
    animation: fondfond 15s ease infinite;
}
a{
    text-decoration: none;
}
.ImgP{
    width: 100%;
    border-radius: 10px;
    height: 100px;
}

@keyframes fondfond {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #ffffff;
    align-content: center;
    box-shadow: 7px 7px 15px #013e99, -7px -7px 15px #013e99;
    justify-content: space-around;
}

.logoaccueil {
    height: 5vw;
    width: 25vw;
    margin-right: 2vw;
    background-image: url(Assets/laplateforme-blue.png);
    background-size: 100%;
    min-height: 43px;
    min-width: 217px;
}

.logoaccueil:hover {
    background-image: url(Assets/laplateforme-red.png);
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.portail{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 7px 30px #ffffff, -7px -7px 30px #ffffff;
    width: 15vw;
    min-height: 397px;
    min-width: 194px;
    align-content: space-between;
    align-content: center;
}

.portail:hover {
    animation: anim 0.4s both ease;
}

.portail p::selection {
    color: #e74a34;
}

@keyframes anim {
    0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
}

h1{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw ;
    margin-right: 1vw;
    color: #0084fa;
}

h1 {
    color: #0066ff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.portail p {
    margin-left: 1.5vw ;
    margin-right: 1.5vw ;
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.text_pres{
    text-align: center;
    color: #ffffff;
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 75px;
    padding-top: 7vh;
}
@media (max-width: 768px) {
    .portail{
        margin: 50px;
        width: 30vw;
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

