body{
    background-color:#313131;
    margin: 0%;
}
div.MLGh1{
    background-color: #0084FA;
    color: #FFFFFFFF;
    font-size: 1.5vw;
    height: 50px;
    align-content: center;
    margin: 0%;
}   
h1,title{
    color:#FFFFFFFF;
    font-family: Playfair Display;
    margin-left: 15px;
}
p,li{
    color: #FFFFFFFF;
    font-family: Montserrat;
    font-size: 1.3em;
}
#logoplareforme{
    width: 20%;
    height: 20%;
    border: 0px;
    background-color: #FFFFFFFF;
    margin-left: 1.35%;
    margin-top: 0.3%;
    object-fit: auto;
}
div.imagebouclier{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}
div.left-text{
    margin-left: 2%;
    width: 90%;
}
div.second-text{
    width: 90%;
    margin-left: 0.5%;
    margin-top: 15%;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}
