body{
    background-color: #0084FA;
}
#Contenu{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#Image{
    background-color: white;
    width: 350px;
    height: 75px;
    border-radius: 25px;
}
.noms{
    background-color: white;
    border-radius: 15px;
}