body{
    background: linear-gradient(90deg, #313131 50%, #0084fa 50%);
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #ffffff;
    width: 100%;
    height: 10%;
    min-height: 50px;
}
main{
    padding-top: 45px;
}
.ImgHumain{
    align-self: center;
    width: 80%;
    border-radius: 5%;
}
h1 {
    color: #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: auto;
    text-shadow: 7px 7px 15px #00183d, -7px -7px 15px #001431;
}
#Image{
    background-color: white;
    width: 40%;
    min-width: 200px;
    min-height: 50px;
    height: 10vh;
    border-radius: 25px;
    display: block;
    margin: auto;
}
#Contenu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}

.noms{
    display: flex;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    margin: 3%;
}

h2, p {
    margin: 5%;
}

h2 {
    color: #0066ff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 768px) {
    .contenu{
        flex-direction: column;
    }
}
